# macOS
.DS_Store

# Python
__pycache__/
*.py[codz]

# Virtual environment
.venv/

# MLflow local data
mlruns/
mlartifacts/

# Feast local data
feast-data/

# Jupyter
.ipynb_checkpoints/

# Ruff
.ruff_cache/

# Airflow
airflow/logs/

# Environment files
.env

# Node.js
node_modules/
.next/

# Logs
mprocs.log

# MkDocs build output
site/
